<div data-uploader="progress-holder">
  <i class="fa fa-cloud-upload"></i>
  <div class="normal-upload">
    <strong>Uploading your document</strong>: <span data-uploader='progress-percentage'>0%</span>
  </div>
  <div class="ie-upload">
    <strong><img src="/assets/loading.gif" alt=""> Your file is being uploaded. This may take a couple of minutes.</strong>
  </div>
</div>